node_modules/
.git-rewrite/backup-refs
.git-rewrite/commit
.git-rewrite/heads
.git-rewrite/index
.git-rewrite/index.lock
.git-rewrite/parse
.git-rewrite/raw-heads
.git-rewrite/revs
 .idea/
heroku_rsa
heroku_rsa.pub
